body{
    margin: 0%;
    background-color: #e0e0e0;
    font-family:Ubuntu sans-serif ;
}

#logo{
    height: 60px;
    width:60px;
    vertical-align: middle;
}

#log-in{
    position: relative;
    left: 1220px;
    vertical-align: middle;
    text-decoration: none;
    color: black;

}

.paymentdiv{
    height: 100vh;
    width: 100vw;
}
.header{
    background-color: rosybrown;
    position: sticky;
    top: 0px;


}
.footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0px;}

#hotelcontent{
    background-color:  rgb(132,136,139);
    width:50%;
    height:20%;
    margin:0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#customerinfo{
    margin: 2%;
}

#addborder{
    border: 1px solid black;
    padding: 1% 2%;
    border-radius: 5px;
}
.socialmediaimg{
    height:20px ;
    width: 22px;
    position: relative;
    left: 1260px;
    
}

#contact{
    position: relative;
    left: 10px;
    right: 20px;
    top: 15px;
    bottom: 20px;
    text-decoration: none;
    color: black;   

}

#copyright{
    text-align: center;
    font-size: 10px;
}

#paymentimg{
    height: 500px;
    width: 500px;
}